@media screen and (max-width: 991px) {
  .nav-menu-wrapper {
    background-color: rgba(0, 0, 0, 0);
  }

  .nav-menu-two {
    background-color: #fff;
    border-radius: 50px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    padding: 20px;
    list-style-type: disc;
    display: none;
    overflow: visible;
    box-shadow: 0 8px 50px rgba(0, 0, 0, .05);
  }

  .nav-menu-two.w--open {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%; /* Adjust as needed */
    left: 0; /* Adjust as needed */
    width: 100%; /* Adjust as needed */
    z-index: 1000; /* Ensure it's above other content */
  }

  .nav-link {
    padding-left: 5px;
    padding-right: 5px;
    display: inline-block;
  }

  .menu-button {
    padding: 12px;
  }

  .main-button {
    margin-right: -37px;
    padding-left: 8px;
    padding-right: 8px;
  }

  .button-wrapped {
    width: 200px;
    margin: 19px 257px;
    padding-left: 0;
    padding-right: 0;
  }

  .heading-4 {
    margin-left: -54px;
    margin-right: -54px;
  }
}

@media screen and (max-width: 767px) {
  .nav-menu-two {
    border-radius: 20px;
    flex-direction: column;
    padding-bottom: 30px;
  }

  .nav-link {
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
  }

  .nav-menu {
    flex-direction: column;
    padding-bottom: 30px;
    padding-left: 0;
  }

  .menu-button {
    padding: 12px;
  }

  .main-button {
    justify-content: center;
    align-items: center;
    margin-left: 36px;
    margin-right: 36px;
  }

  .button-wrapped {
    width: 300px;
    margin-left: 132px;
    margin-right: 132px;
  }

  .heading-4 {
    margin-left: -123px;
    margin-right: -123px;
    font-size: 23px;
    font-weight: 700;
  }
}
